
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TodoMVC

  body
    table
      tr
        td
        each key in tableHeader
          td= key
      each r in tableBody
        tr(id=r.id)
          td(class='destroy') X
          each curr in r.values
            if curr.key === '_id'
              td
                a(href='/' + byController + '/' + curr.value)= curr.value
            else
              td= curr.value
