
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title TodoMVC

  body
    table
      each curr in Object.keys(todoItem)
        tr
          td= curr
          td= todoItem[curr]

    script(src="todomvc-common/base.js")
    script(src="js/app.js")

